root = true

# Default settings
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Documentation
[*.md]
indent_style = space
trim_trailing_whitespace = false

# HTML
[*.html]
indent_style = space
indent_size = 2

# Templates
[*.tmpl]
indent_style = space
indent_size = 2

# Jade
[*.jade]
indent_style = space
indent_size = 2

# Styles
[*.scss]
indent_style = space
indent_size = 2

# JavaScript
[*.js]
indent_style = space
indent_size = 2

# package.json
[{package.json}]
indent_style = space
indent_size = 2
