p Created by <a href="http://uoziod.ru">Semyon Vyskubov</a>
p <a href="http://github.com/uoziod/suave-ui">Suave UI</a> is inspired by <a href="https://github.com/tansky/actiguide">Actiguide</a> and licensed under MIT
p <a href="http://fontawesome.io/">Font Awesome</a> font is licensed under the SIL OFL 1.1
p <a href="http://daneden.github.io/animate.css/">Animate.css</a> is licensed under MIT
