p &copy; 2014, Semyon Vyskubov
p <strong>Suave UI</strong> is licensed under MIT License
p <a href="http://fontawesome.io/">Font Awesome</a> font is licensed under the SIL OFL 1.1
p <a href="http://daneden.github.io/animate.css/">Animate.css</a> is licensed under MIT License
