doctype html
html(lang="en", ng-app="demo")
	block vars
	head
		if pageTitle
			title Suave UI &mdash; #{pageTitle}
		else
			title Suave UI Demo
		link(rel="icon", href="favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="res/prism.css")
		link(rel="stylesheet", href="../build/styles.min.css")
		link(rel="stylesheet", href="res/styles.min.css")
		script(src="res/prism.js")
		script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js")  // TODO!!!!!!!!
		script(src="../build/app.min.js")
		script(src="res/demo.js")

body(su-grid, ng-controller="demoController")
	header
		div.su-wrapper.su-p0
			div.su-box
				include header

	div.subheader
		include subheader

	div.su-wrapper.su-p0
		block content

	div.su-clear

	footer
		div.su-wrapper.su-p0
			div.su-box
				include footer
