doctype html
html(lang="en", ng-app="demo")
  block vars
  head
    if pageTitle
      title Suave UI &mdash; #{pageTitle}
    else
      title Suave UI Demo
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="res/prism.css")
    link(rel="stylesheet", href="../dist/styles.min.css")
    link(rel="stylesheet", href="res/styles.min.css")
    script(src="res/prism.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js")
    script(src="../dist/app.min.js")
    script(src="res/demo.js")

body(su-grid, ng-controller="DemoController")
  header
    div.su-wrapper.su-p0
      div.su-box
        include header

  div.subheader
    include subheader

  div.su-wrapper.su-p0
    block content

  div.su-clear

  footer
    div.su-wrapper.su-p0
      div.su-box
        include footer

  | <!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter27000363 = new Ya.Metrika({ id:27000363, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/27000363" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
