div(class="wrapper")
  div(class="box")
    div(class="fl")
      iframe(src="http://ghbtns.com/github-btn.html?user=uoziod&repo=suave-ui&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="92", height="20")
      iframe(src="http://ghbtns.com/github-btn.html?user=uoziod&repo=suave-ui&type=fork&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="100", height="20")
