extends ../partials/layout.jade

block vars
  - page = 'buttons'
  - pageTitle = 'Buttons'

block content
  div(class="row box")
    h1 Buttons

  div(class="row")
    div(class="col-edge-2"): div(class="box")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-big")
      div(class="su-fl su-mr10"): input(type="button", value="Button")
      div(class="su-clear su-m10")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-big su-hover")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-hover")
      div(class="su-clear su-m10")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-big su-active")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-active")
      div(class="su-clear su-m10")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-big su-focus")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-focus")
      div(class="su-clear su-m10")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-big su-loading")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-loading")
      div(class="su-clear su-m10")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-big", disabled)
      div(class="su-fl su-mr10"): input(type="button", value="Button", disabled)
    div(class="col-2"): div(class="box")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-big")
      div(class="su-fl su-mr10"): input(type="button", value="Button")
      div(class="su-clear su-m10")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-big su-hover")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-hover")
      div(class="su-clear su-m10")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-big su-active")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-active")
      div(class="su-clear su-m10")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-big su-focus")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-focus")
      div(class="su-clear su-m10")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-big su-loading")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-loading")
      div(class="su-clear su-m10")
      div(class="su-fl su-mr10"): input(type="button", value="Button", class="su-big", disabled)
      div(class="su-fl su-mr10"): input(type="button", value="Button", disabled)
