extends ../partials/layout.jade

block vars
  - page = 'buttons'
  - pageTitle = 'Buttons'

block content
  div.su-row.su-box
    h1 Buttons

    p Buttons are in Interaction Elements group, so they can apply <a href="colors.html#interaction">corresponding colours</a>.

  div.su-row.su-mt30
    div.su-col-edge-2: div.su-box
      h3 Default button
      div.su-fl.su-mr10: input.su-big(type="button", value="Button")
      div.su-fl.su-mr10: input(type="button", value="Button")
      div.su-fl.su-mr10: | Default
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-hover(type="button", value="Button")
      div.su-fl.su-mr10: input.su-hover(type="button", value="Button")
      div.su-fl.su-mr10: | Mouse over
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-active(type="button", value="Button")
      div.su-fl.su-mr10: input.su-active(type="button", value="Button")
      div.su-fl.su-mr10: | Active
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-focus(type="button", value="Button")
      div.su-fl.su-mr10: input.su-focus(type="button", value="Button")
      div.su-fl.su-mr10: | Focused
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-loading(type="button", value="Button")
      div.su-fl.su-mr10: input.su-loading(type="button", value="Button")
      div.su-fl.su-mr10: | Loading
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big(type="button", value="Button", disabled)
      div.su-fl.su-mr10: input(type="button", value="Button", disabled)
      div.su-fl.su-mr10: | Disabled

    div.su-col-2: div.su-box
      h3 Positive action
      div.su-fl.su-mr10: input.su-big.su-positive(type="button", value="Button")
      div.su-fl.su-mr10: input.su-positive(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-positive.su-hover(type="button", value="Button")
      div.su-fl.su-mr10: input.su-positive.su-hover(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-positive.su-active(type="button", value="Button")
      div.su-fl.su-mr10: input.su-positive.su-active(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-positive.su-focus(type="button", value="Button")
      div.su-fl.su-mr10: input.su-positive.su-focus(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-positive.su-loading(type="button", value="Button")
      div.su-fl.su-mr10: input.su-positive.su-loading(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-positive(type="button", value="Button", disabled)
      div.su-fl.su-mr10: input.su-positive(type="button", value="Button", disabled)

    div.su-col-edge-2: div.su-box
      h3 Negative action
      div.su-fl.su-mr10: input.su-big.su-negative(type="button", value="Button")
      div.su-fl.su-mr10: input.su-negative(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-negative.su-hover(type="button", value="Button")
      div.su-fl.su-mr10: input.su-negative.su-hover(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-negative.su-active(type="button", value="Button")
      div.su-fl.su-mr10: input.su-negative.su-active(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-negative.su-focus(type="button", value="Button")
      div.su-fl.su-mr10: input.su-negative.su-focus(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-negative.su-loading(type="button", value="Button")
      div.su-fl.su-mr10: input.su-negative.su-loading(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-negative(type="button", value="Button", disabled)
      div.su-fl.su-mr10: input.su-negative(type="button", value="Button", disabled)

  div.su-clear

  div.su-row.su-mt30
    div.su-col-edge-2: div.su-box
      h3 Violet
      div.su-fl.su-mr10: input.su-big.su-violet(type="button", value="Button")
      div.su-fl.su-mr10: input.su-violet(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-violet.su-hover(type="button", value="Button")
      div.su-fl.su-mr10: input.su-violet.su-hover(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-violet.su-active(type="button", value="Button")
      div.su-fl.su-mr10: input.su-violet.su-active(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-violet.su-focus(type="button", value="Button")
      div.su-fl.su-mr10: input.su-violet.su-focus(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-violet.su-loading(type="button", value="Button")
      div.su-fl.su-mr10: input.su-violet.su-loading(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-violet(type="button", value="Button", disabled)
      div.su-fl.su-mr10: input.su-violet(type="button", value="Button", disabled)

    div.su-col-2: div.su-box
      h3 Black
      div.su-fl.su-mr10: input.su-big.su-black(type="button", value="Button")
      div.su-fl.su-mr10: input.su-black(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-black.su-hover(type="button", value="Button")
      div.su-fl.su-mr10: input.su-black.su-hover(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-black.su-active(type="button", value="Button")
      div.su-fl.su-mr10: input.su-black.su-active(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-black.su-focus(type="button", value="Button")
      div.su-fl.su-mr10: input.su-black.su-focus(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-black.su-loading(type="button", value="Button")
      div.su-fl.su-mr10: input.su-black.su-loading(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-black(type="button", value="Button", disabled)
      div.su-fl.su-mr10: input.su-black(type="button", value="Button", disabled)

    div.su-col-edge-2: div.su-box
      h3 Orange
      div.su-fl.su-mr10: input.su-big.su-orange(type="button", value="Button")
      div.su-fl.su-mr10: input.su-orange(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-orange.su-hover(type="button", value="Button")
      div.su-fl.su-mr10: input.su-orange.su-hover(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-orange.su-active(type="button", value="Button")
      div.su-fl.su-mr10: input.su-orange.su-active(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-orange.su-focus(type="button", value="Button")
      div.su-fl.su-mr10: input.su-orange.su-focus(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-orange.su-loading(type="button", value="Button")
      div.su-fl.su-mr10: input.su-orange.su-loading(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-orange(type="button", value="Button", disabled)
      div.su-fl.su-mr10: input.su-orange(type="button", value="Button", disabled)

  div.su-clear

  div.su-row.su-mt30
    div.su-col-edge-2: div.su-box
      h3 Buttons with icon
      pre: code.language-markup
        | &lt;input type="button" su-icon="la-leaf" value="Button" /&gt;
      div.su-fl.su-mr10: input.su-big(type="button", su-icon="fa-leaf", value="Button")
      div.su-fl.su-mr10: input(type="button", su-icon="fa-leaf", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-positive(type="button", su-icon="fa-leaf", value="Button")
      div.su-fl.su-mr10: input.su-positive(type="button", su-icon="fa-leaf", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-negative(type="button", su-icon="fa-leaf", value="Button")
      div.su-fl.su-mr10: input.su-negative(type="button", su-icon="fa-leaf", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-orange.su-loading(type="button", su-icon="fa-leaf", value="Button")
      div.su-fl.su-mr10: input.su-orange.su-loading(type="button", su-icon="fa-leaf", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big(type="button", su-icon="fa-leaf", value="Button", disabled)
      div.su-fl.su-mr10: input(type="button", su-icon="fa-leaf", value="Button", disabled)

    div.su-col-2: div.su-box
      h3 Secondary buttons
      pre: code.language-markup
        | &lt;input type="button" class="su-secondary" value="Button" /&gt;
      div.su-fl.su-mr10: input.su-big.su-secondary(type="button", su-icon="fa-leaf", value="Button")
      div.su-fl.su-mr10: input.su-secondary(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-secondary.su-positive(type="button", value="Button")
      div.su-fl.su-mr10: input.su-secondary.su-positive(type="button", su-icon="fa-leaf", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-secondary.su-negative(type="button", su-icon="fa-leaf", value="Button")
      div.su-fl.su-mr10: input.su-secondary.su-negative(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-secondary.su-violet(type="button", value="Button")
      div.su-fl.su-mr10: input.su-secondary.su-violet(type="button", su-icon="fa-leaf", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-secondary.su-black(type="button", su-icon="fa-leaf", value="Button")
      div.su-fl.su-mr10: input.su-secondary.su-black(type="button", value="Button")
      div.su-clear.su-m10
      div.su-fl.su-mr10: input.su-big.su-secondary.su-orange(type="button", value="Button")
      div.su-fl.su-mr10: input.su-secondary.su-orange(type="button", su-icon="fa-leaf", value="Button")

    div.su-col-edge-2: div.su-box
      h3 Another buttons with icon
      pre: code.language-markup
        | &lt;input type="button" su-icon="fa-print" button-type="circle" value="Print file..." /&gt;
      p: input(type="button", su-icon="fa-print", button-type="circle", value="Print file...")
      p: input(type="button", su-icon="fa-print", button-type="circle", value="Print file...", disabled)

  div.su-clear

  div.su-row.su-box.su-mt30
    h2 Buttons group

  div.su-row
    div.su-col-edge-3: div.su-box
      pre: code.language-markup
        | &lt;div class="su-button-group"&gt;
        |     &lt;button&gt;Button one&lt;/button&gt;
        |     &lt;button&gt;Button two&lt;/button&gt;
        |     &lt;button&gt;Button three&lt;/button&gt;
        | &lt;/div&gt;

    div.su-col-edge-3: div.su-box
      div.su-button-group
        input.su-big(type="button", value="Button one")
        input.su-big(type="button", value="Button two")
        input.su-big(type="button", value="Button three")

      div.su-clear.su-m10

      div.su-button-group
        input(type="button", value="Button one")
        input(type="button", value="Button two")
        input(type="button", value="Button three")
