extends ../partials/layout.jade

block vars
  - page = 'colors'
  - pageTitle = 'Colors'

block content
  div(class="su-row")
    div(class="su-col-edge-1"): div(class="su-box")
      h1 Colors

  div(class="su-col-4"): div(class="su-box")
    h2 Basic colors

    p <strong>Suave UI</strong> have a set of harmonic colors. You can apply these colors using <strong>su-c<span class="su-c11">*</span></strong> CSS-class for text and <strong>su-bc<span class="su-c11">*</span></strong> for background.

    div(class="color-item su-small su-bc0 su-c1")  su-bc<strong>0</strong>
    div(class="color-item su-small su-bc1")        su-bc<strong>1</strong>
    div(class="color-item su-small su-bc2")        su-bc<strong>2</strong>
    div(class="color-item su-small su-bc3")        su-bc<strong>3</strong>
    div(class="color-item su-small su-bc4")        su-bc<strong>4</strong>
    div(class="color-item su-small su-bc5")        su-bc<strong>5</strong>
    div(class="color-item su-small su-bc6")        su-bc<strong>6</strong>
    div(class="color-item su-small su-bc7 su-c1")  su-bc<strong>7</strong>
    div(class="color-item su-small su-bc8 su-c1")  su-bc<strong>8</strong>
    div(class="color-item su-small su-bc9 su-c1")  su-bc<strong>9</strong>
    div(class="color-item su-small su-bc10 su-c1") su-bc<strong>10</strong>
    div(class="color-item su-small su-bc11 su-c1") su-bc<strong>11</strong>
    div(class="color-item su-small su-bc12 su-c1") su-bc<strong>12</strong>
    div(class="color-item su-small su-bc13 su-c1") su-bc<strong>13</strong>
    div(class="color-item su-small su-bc14 su-c1") su-bc<strong>14</strong>
    div(class="color-item su-small su-bc15 su-c1") su-bc<strong>15</strong>
    div(class="color-item su-small su-bc16 su-c1") su-bc<strong>16</strong>

    div(class="su-clear su-m20")

    h2 <a name="interaction"></a> Interaction Elements group

    p Some elements (like <a href="buttons.html">buttons</a> or <a href="snackbar.html">snackbar</a>) can apply following classes to change it color:

    div(class="color-item-wide su-big su-interact-default")  su-<strong>default</strong>
    div(class="color-item-wide su-big su-interact-positive") su-<strong>positive</strong>
    div(class="color-item-wide su-big su-interact-negative") su-<strong>negative</strong>
    div(class="color-item-wide su-big su-interact-violet")   su-<strong>violet</strong>
    div(class="color-item-wide su-big su-interact-black")    su-<strong>black</strong>
    div(class="color-item-wide su-big su-interact-orange")   su-<strong>orange</strong>
