extends ../partials/layout.jade

block vars
	- page = 'forms'
	- pageTitle = 'Forms'

block content
	div.su-row.su-box
		h1 Forms

	div.su-row
		div.su-col-edge-1: div.su-box
			h3 Input styles

		div.su-col-4: div.su-box
			input.su-mr10(type="text", placeholder="Regular input")
			input.su-focused.su-mr10(type="text", placeholder="Focused input")
			input.su-invalid.su-mr10(type="text", placeholder="Invalid input")
			input.su-mr10(type="text", value="Disabled input", disabled)

	div.su-row
		div.su-col-edge-1: div.su-box
			h3 Placeholders

		div.su-col-4: div.su-box
			p Default <code class="inline">input</code>'s width is 150 pixels. <code class="inline">su-placeholder</code> increases original element width by itself. Use <code class="inline">su-width</code> attribute to set exact width of input with placeholder.

			h4 Simple placeholder

			p Default width is 150 pixels is summed with placeholder's width.

			p: input(type="text", su-placeholder="$", placeholder="Sum")

			pre: code.language-markup
				| &lt;input type="text" su-placeholder="$" /&gt;

			h4 Right Placeholder with inline set width

			p Default width is 150 pixels is summed with placeholder's width.

			p: input(type="text", su-placeholder-right="meters", style="width: 50px")

			pre: code.language-markup
				| &lt;input type="text" su-placeholder-right="meters" style="width: 50px" /&gt;

			h4 Right Placeholder with su-width

			p Alternative way to set with with <code class="inline">su-width</code> attribute.

			p: input(type="text", su-placeholder-right="meters", su-width="100")

			pre: code.language-markup
				| &lt;input type="text" su-placeholder-right="meters" su-width="100" /&gt;

	div.su-row
		div.su-col-edge-1: div.su-box
			h3 Input Groups

		div.su-col-4: div.su-box
			p Default <code class="inline">input</code> style is defined with rounded corners. Sometimes is necessary to group some inputs in which case it would look weird. To apply better styles for group of inputs use <code class="inline">su-input-group</code> wrapper:

			pre: code.language-markup
				| &lt;div class="su-input-group"&gt;
				|     &lt;input type="text" su-placeholder="$" su-width="60" /&gt;
				|     &lt;input type="text" su-placeholder="&amp;cent;" su-width="60" /&gt;
				| &lt;/div&gt;

			p: div.su-input-group
				input(type="text", su-placeholder="$", su-width="60")
				input(type="text", su-placeholder="&cent;", su-width="60")

	div.su-row
		div.su-col-edge-1: div.su-box
			h3 Select

		div.su-col-4: div.su-box
			su-select(name="sel")
				option(value="0") Option 1
				option(value="1") Option 2
				option(value="2") Option 3

			su-select.su-positive(name="sel2", su-width="200")
				option(value="0") Option 1
				option(value="1") Option option option 2
				option(value="2") Option option 3

			su-select.su-black(name="sel3")
				option(value="0") Option 1
				option(value="1") Option option option 2
				option(value="2") Option option 3
