extends ../partials/layout.jade

block vars
  - page = 'grid'
  - pageTitle = 'Grid'

block content
  div.su-row: div.su-box
    h1 Grid
    p.su-big Whole content area width could be divided on 6 sections. Width of one column is about 15% + padding between them. First and last columns in row using with <code class="inline">edge</code> keyword in class-name and have bigger padding before and after column respectively.
    p.su-big.su-c.su-c11 You can enable and disable grid guidelines by pressing<br /><strong>Ctrl + Shift + ~</strong>
    p If you want to use grid guidelines on your pages, just add <code class="inline">su-grid</code> to &lt;body&gt; tag, as it made here.

  div.su-row: div.su-box
    hr.su-big

  div.su-row
    div.su-col-edge-2: div.su-box
      p I woke up at the first glimmer of dawn. The sun was still under the horizon and the beach was lit with a strange blue light, both dark and bright at the same time. It was very beautiful and calm. Even the waves seemed to be breaking more quietly than usual.
    div.su-col-edge-4: div.su-box
      p Maybe this stands up to repeating. On the Monday of my second week, I saw bugs struggling to fit a swinging door on the entrance to one of the storeroom huts. He was having trouble because he only had two hands, and he needed three: two to keep the door in place and a third to hammer a peg into the hinge. I watched him do this for a while, wondering whether to offer any help, and as I began walking over the hammer slipped from his grip. Instinctively, he moved to catch it, and the door also fell, bashing against his leg.

  div.su-row: div.su-box
    hr

  div.su-row: div.su-col-edge-1: div.su-box
    p He that
  div.su-row: div.su-col-1.su-empty-edge-1: div.su-box
    p will not
  div.su-row: div.su-col-1.su-empty-edge-2: div.su-box
    p when he may,
  div.su-row: div.su-col-1.su-empty-edge-3: div.su-box
    p when he,
  div.su-row: div.su-col-1.su-empty-edge-4: div.su-box
    p will he
  div.su-row: div.su-col-1.su-empty-edge-5: div.su-box
    p shall have nay.

  div.su-row: div.su-box
    hr

  div.su-row
    div.su-col-edge-2: div.su-box
      p The bar-room was now full of the boarders who had been dropping in the night previous, and whom I had not as yet had a good look at. They were nearly all whalemen; chief mates, and second mates, and third mates, and sea carpenters, and sea coopers, and sea blacksmiths, and harpooneers, and ship keepers; a brown and brawny company, with bosky beards; an unshorn, shaggy set, all wearing monkey jackets for morning gowns.
    div.su-col-1: div.su-box
      p After examining one by one the different theories, rejecting all other suggestions, it becomes necessary to admit the existence of a marine animal of enormous power.
    div.su-col-1: div.su-box
      p I was surprised at the coolness with which John avowed his knowledge of the island, and I own I was half-frightened when I saw him drawing nearer to myself.
    div.su-col-edge-2: div.su-box
      p What a pursuit! No, I cannot describe the emotion that vibrated through me. Ned Land kept his post, harpoon in hand. Several times the animal let us gain upon it. — "We shall catch it! we shall catch it!" cried the Canadian. But just as he was going to strike, the cetacean stole away with a rapidity that could not be estimated at less than thirty miles an hour, and even during our maximum of speed, it bullied the frigate, going round and round it. A cry of fury broke from everyone!

  div.su-row: div.su-box
    hr

  div.su-row
    div.su-col-edge-1: div.su-box
      p No one took notice of me, only the bow oar saying, "Is that you, Jim? Keep your head down." But Silver, from the other boat, looked sharply over and called out to know if that were me; and from that moment I began to regret what I had done.
    div.su-col-1: div.su-box
      p Near one o'clock in the morning, I was seized with dreadful fatigue. My limbs stiffened under the strain of violent cramp. Conseil was obliged to keep me up, and our preservation devolved on him alone.
    div.su-col-1.su-empty-2: div.su-box
      p At last the speakers seemed to have paused and perhaps to have sat down, for not only did they cease to draw any nearer, but the birds themselves began to grow more quiet and to settle again to their places in the swamp.

  div.su-row: div.su-box
    hr

  div.su-row
    div.su-col-edge-3: div.su-box
      p After some minutes, a loud hissing was heard. I felt the cold mount from my feet to my chest. Evidently from some part of the vessel they had, by means of a tap, given entrance to the water, which was invading us, and with which the room was soon filled. A second door cut in the side of the Nautilus then opened. We saw a faint light. In another instant our feet trod the bottom of the sea.
    div.su-col-edge-3: div.su-box
      p All this time no one prolonged his voluntary task beyond the prescribed time. His task accomplished, each one handed in turn to his panting companions the apparatus that supplied him with life. Captain Nemo set the example, and submitted first to this severe discipline. When the time came, he gave up his apparatus to another and returned to the vitiated air on board, calm, unflinching, unmurmuring.

  div.su-row: div.su-box
    hr

  div.su-row
    div.su-col-4.su-empty-edge-1: div.su-box
      p How I got on to the platform, I have no idea; perhaps the Canadian had carried me there. But I breathed, I inhaled the vivifying sea-air. My two companions were getting drunk with the fresh particles. The other unhappy men had been so long without food, that they could not with impunity indulge in the simplest aliments that were given them. We, on the contrary, had no end to restrain ourselves; we could draw this air freely into our lungs, and it was the breeze, the breeze alone, that filled us with this keen enjoyment.

  div.su-clear
