extends ../partials/layout.jade

block vars
  - page = 'layers'
  - pageTitle = 'Layered Elements'

block content
  div(class="su-row su-box")
    h1 Layered Elements

  div(class="su-row")
    div(class="su-col-edge-1"): div(class="su-box")
      h3 Dropdowns

    div(class="su-col-4"): div(class="su-box")
      div(class="su-fl su-mr10"): button(su-target="dd1") Open dropdown
      div(class="su-fl su-mr10"): button(su-target="dd1") Open same dropdown

      div(class="su-clear su-m20")

      su-dropdown(su-anchor="dd1", class="su-w300")
        p(class="su-m5") This is dropdown <strong>dd1</strong>
        div(class="su-fl su-mr10"): button(su-target="dd2", class="su-orange") Open dropdown dd2
      su-dropdown(su-anchor="dd2", class="su-w300")
        p(class="su-m5") This is dropdown <strong>dd1</strong>
        div(class="su-fl su-mr10"): button(su-target="dd3", class="su-violet") Open dropdown dd3
      su-dropdown(su-anchor="dd3", class="su-w300")
        p(class="su-m5") This is dropdown <strong>dd1</strong>
        div(class="su-fl su-mr10"): button(su-target="dd4", class="su-negative") Open dropdown dd4
      su-dropdown(su-anchor="dd4", class="su-w300")
        p This is dropdown <strong>dd4</strong>

      h3 Some facts about layered elements:

      ul(class="su-dash")
        li <strong>Layered elements</strong> (dropdowns and popups) could be nested
        li Open nested layered elements makes tree
        li Second click on element that opening layer closes it
        li Any click outside top opened layer (or press on ESC button) will close it
        li Element that opening layer by click is <strong>caller</strong>
        li Caller is any element that have <strong>su-target</strong> attribute
        li Any layered element should have an attribute <strong>su-anchor</strong>, that tells to caller what to open
        li Different callers can open the same layered elements, but only if they are not nested by loop

      h3 Some more about dropdowns:

      ul(class="su-dash")
        li If dropdown callers width is less then 50 pixels, dropdowns arrow will be closer to edge<br /><a su-target="dd-small">Rly??</a>

      su-dropdown(su-anchor="dd-small")
        p Yes!

  div(class="su-row")
    div(class="su-col-edge-1"): div(class="su-box")
      h3 Popups

    div(class="su-col-4"): div(class="su-box")
      p 123