extends ../partials/layout.jade

block vars
	- page = 'layers'
	- pageTitle = 'Layered Elements'

block content
	div(class="su-row su-box")
		h1 Layered Elements

	div(class="su-row")
		div(class="su-col-edge-1"): div(class="su-box")
			h3 Dropdowns

		div(class="su-col-4"): div(class="su-box")
			p(class="su-big") <strong>Dropdown</strong> is container that are hidden by default and should be <em>called</em> by other element to become visible. When it's visible, it attached to element that called it.

			div(class="su-c"): div(class="su-ib")
				div(class="su-fl su-mr10"): button(su-target="dd1") Open dropdown
				div(class="su-fl su-mr10"): button(su-target="dd1") Open same dropdown

			div(class="su-clear su-m20")

			su-dropdown(su-anchor="dd1", class="su-w300")
				p(class="su-m5") This is dropdown <strong>dd1</strong>
				div(class="su-fl su-mr10"): button(su-target="dd2", class="su-orange") Open dropdown dd2
			su-dropdown(su-anchor="dd2", class="su-w300")
				p(class="su-m5") This is dropdown <strong>dd1</strong>
				div(class="su-fl su-mr10"): button(su-target="dd3", class="su-violet") Open dropdown dd3
			su-dropdown(su-anchor="dd3", class="su-w300")
				p(class="su-m5") This is dropdown <strong>dd1</strong>
				div(class="su-fl su-mr10"): button(su-target="dd4", class="su-negative") Open dropdown dd4
			su-dropdown(su-anchor="dd4", class="su-w300")
				p This is dropdown <strong>dd4</strong>

			pre: code(class="language-markup")
				| &lt;input type="button" su-target="identifier" value="Open dropdown" /&gt;
				| &lt;input type="button" su-target="identifier" value="Open same dropdown" /&gt;
				| &nbsp;
				| &lt;su-dropdown su-anchor="identifier"&gt;
				| &nbsp;&nbsp;&nbsp;&nbsp;This is dropdown dd1
				| &nbsp;&nbsp;&nbsp;&nbsp;...
				| &lt;/su-dropdown&gt;

			h3 Some facts about layered elements:

			ul(class="su-dash")
				li <strong>Layered elements</strong> (dropdowns and popups) could be nested
				li Open nested layered elements makes tree
				li Second click on element that opening layer closes it
				li Any click outside top opened layer (or press on ESC button) will close it
				li Element that opening layer by click is <strong>caller</strong>
				li Caller is any element that have <strong>su-target</strong> attribute
				li Any layered element should have an attribute <strong>su-anchor</strong>, that tells to caller what to open
				li Different callers can open the same layered elements, but only if they are not nested by loop

			h3 Some more about dropdowns:

			ul(class="su-dash")
				li If dropdown callers width is less then 50 pixels, dropdowns arrow will be closer to edge<br /><a su-target="dd-small">Rly??</a>

			su-dropdown(su-anchor="dd-small")
				p Yes!

	div(class="su-row su-box")
		hr

	div(class="su-row")
		div(class="su-col-edge-1"): div(class="su-box")
			h3 Popups

		div(class="su-col-4"): div(class="su-box")
			p(class="su-big") <strong>Popup</strong> is container that are hidden by default and should be <em>called</em> by other element too. When it's visible, it makes basic content area unscrollable and greyscaled. Wherein popup's container is displayed at the center of the page.

			div(class="su-c"): div(class="su-ib")
				div(class="su-fl su-mr10"): button(su-target="p1") Open popup
				div(class="su-fl su-mr10"): button(su-target="p2") Open popup with scrolling

			div(class="su-clear su-m20")

			pre: code(class="language-markup")
				| &lt;input type="button" su-target="identifier" value="Open popup" /&gt;
				| &nbsp;
				| &lt;su-popup su-anchor="identifier"
				| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;su-config='{"title": "Popup title"}'&gt;
				| &nbsp;&nbsp;&nbsp;&nbsp;Popup content
				| &lt;/su-popup&gt;

			p <strong>su-config</strong> is an optional attribute that must be a JSON-object which handles following parameters:

			table(style="width: 100%")
				tr
					th Property
					th Appointment
				tr
					td title
					td Allow to set popup's title (<a su-target="p1">demo</a>)
				tr(class="odd")
					td noCloseButton
					td Boolean value. If is true removes close button from popup if is true (<a su-target="p3">demo</a>)
				tr
					td noPadding
					td Boolean value. If is true removes padding in popup container (useful when is needed to display any image inside) (<a su-target="p4">demo</a>)
				tr(class="odd")
					td customWidth
					td Integer value that allows to set custom popup container width (<a su-target="p4">demo</a>)


			su-popup(su-anchor="p1", su-config='{"title": "Popup title"}')
				p Popup content

			su-popup(su-anchor="p2")
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll
				p Popup with scroll

			su-popup(su-anchor="p3", su-config='{"noCloseButton": true}')
				p This popup has no close button, but still able to close it by clicking on area ouside of popup or pressing ESC.

			su-popup(su-anchor="p4", su-config='{"noPadding": true, "customWidth": 500, "noCloseButton": true}')
				img(src="res/tuscany-farmland.jpg", width="500", height="333")
