extends ../partials/layout.jade

block vars
  - page = 'snackbar'
  - pageTitle = 'Snackbar'

block content
  h1 Snackbar
  p <strong>Snackbar</strong> is a colorful stripe with text that hangs on top of the page. Snackbar hangs for <strong>5 seconds</strong>, but this timeout could be changed. Snackbar will not disappear if mouse is over it.
  p <strong>Snackbars</strong> are in Interaction Elements group, so they can apply <a href="colors.html#interaction">corresponding colors</a>.

  h2 Examples

  div(class="fl mr10")
    button(class="su-positive", ng-click="notify('Positive snackbar sample', {color: 'positive'})") Show positive snackbar
  div(class="fl mr10")
    button(class="su-negative", ng-click="notify('Negative snackbar sample', {color: 'negative'})") Show positive snackbar
  div(class="fl mr10")
    button(class="su-black", ng-click="notify('Black snackbar sample hangs on 10 seconds', {color: 'black', timeout: 10000})") Show black snackbar

  div(class="clear-fix m20")

  p Usage example:

  pre: code(class="javascript")
    | yourApp.controller('YourController', function($scope, <strong>suSnackbar</strong>) {
    |     $scope.$on('someEvent', function() {
    |         suSnackbar.push('Positive snackbar sample', {
    |             color: "positive",
    |             timeout: 10000
    |         }, function() {
    |             console.log('Do this when snackbar will disappear');
    |         });
    |     });
    | });
