extends ../partials/layout.jade

block vars
  - page = 'styles'
  - pageTitle = 'Styles'

block content
  div(class="su-col-edge-1"): div(class="su-box")
    h1 Styles

  div(class="su-col-4"): div(class="su-box")
    p(class="su-big") <strong>Suave UI</strong> have a lot of predefined styles designed to help you create UI quickly and efficiently. All framework's CSS-properties have <strong>su-</strong>prefix. Hereinafter represented all these abbreviations with descriptions.

  div(class="su-clear")

  div(class="su-col-edge-1"): div(class="su-box")
    h3 Frames

  div(class="su-col-4"): div(class="su-box")
    p(class="su-big") What is frames?
