<div class="su-dropdown" ng-class="{'su-dn': !visible}">
	<div ng-if="loading" class="su-spinner">
		<i class="fa fa-circle-o-notch fa-spin"></i>
	</div>
	<span ng-if="!loading" ng-transclude></span>
</div>
