<div id="su-gridguide">
	<div class="wrap">
		<div class="col-edge-1">
			<div class="box">
				<div class="inner"></div>
			</div>
		</div>
		<div class="col-1">
			<div class="box">
				<div class="inner"></div>
			</div>
		</div>
		<div class="col-1">
			<div class="box">
				<div class="inner"></div>
			</div>
		</div>
		<div class="col-1">
			<div class="box">
				<div class="inner"></div>
			</div>
		</div>
		<div class="col-1">
			<div class="box">
				<div class="inner"></div>
			</div>
		</div>
		<div class="col-edge-1">
			<div class="box">
				<div class="inner"></div>
			</div>
		</div>
		<div class="left-edge"></div>
		<div class="right-edge"></div>
	</div>
</div>
