<span class="su-placeholder-wrap">
	<su-transclude></su-transclude>
	<span class="su-placeholder su-left" ng-if="position === 'left'"><span ng-bind-html="placeholder"></span></span>
	<span class="su-placeholder su-right" ng-if="position === 'right'"><span ng-bind-html="placeholder"></span></span>
</span>
