<div class="su-popup"
     ng-class="{
         'su-no-padding': config.noPadding,
         'su-with-menu': config.menu
     }"
     ng-show="visible">
	<div class="su-inner"
	     ng-style="{
	         'width': config.customWidth + 'px'
	     }">
		<a ng-if="!config.noCloseButton" class="su-close" ng-click="close()"><i class="fa fa-close"></i></a>
		<div ng-if="config.title" class="su-title"><h2>{{config.title}}</h2></div>
		<div class="su-wrap">
			<div class="su-menu"
				 ng-if="config.menu">
				<ul>
					<li ng-repeat="item in config.menu"
						class="{{item.type && 'su-' + item.type}}"
						ng-class="{'su-active': section === item.target}"
						ng-click="item.type !== 'divider' && setSection(item.target)">
						{{item.title}}
					</li>
				</ul>
			</div>
			<div class="su-container">
				<div ng-if="loading" class="su-spinner">
					<i class="fa fa-circle-o-notch fa-spin"></i>
				</div>
				<span ng-show="!loading" ng-transclude></span>
			</div>
		</div>
		<div class="su-clear"></div>
	</div>
</div>
