@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

BODY {
	padding: 0;
}

* {
	font-family: 'Open Sans', sans-serif;
}

.no-padding {
	padding: 0;
}

.color-box,
.color-box-wide {
	width: 11.11%;
	height: 77px;
	line-height: 77px;
	text-align: center;
}

.color-box-wide {
	width: 33.33%;
}

.demo-header,
.demo-footer {
	height: 310px;
	background: url('images/header.jpg') center;
	background-size: cover;
}

.demo-footer {
	height: 100px;
}

.demo-header H1,
.demo-header H2,
.demo-header P,
.demo-header .buttons {
	position: absolute;
	color: #fff;
	border: none;
	text-align: center;
	width: 600px;
	margin-left: -300px;
	left: 50%;
}

.demo-header H1 {
	top: 10px;
	font-size: 7.38em;
	letter-spacing: -.07em;
}

.demo-header H2 {
	top: 143px;
	font-size: 1.98em;
}

.demo-header P {
	top: 186px;
	font-size: 12px;
}

.demo-header .buttons {
	top: 229px;
}

.demo-header .buttons A {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	padding: 5px 18px;
	border-radius: 3px;
	margin: 0 5px;
}

.demo-header .buttons A:hover {
	background: #fff;
	color: #022e37;
}

.demo-button {
	display: block;
	margin-bottom: 10px;
	text-align: center;
	padding: 20px 0;
	border-radius: 3px;
	font-size: 25px;
	color: rgba(255, 255, 255, .7);
}

.demo-button:hover {
	text-decoration: none;
	color: #fff;
}

.demo-footer {
	font-size: 11px;
	text-align: center;
	color: #fff;
}

.demo-footer P {
	padding-top: 18px;
}

.demo-footer A {
	color: rgba(255, 255, 255, .6);
	text-decoration: none;
}

.demo-footer A:hover {
	color: #fff;
	text-decoration: underline;
}
