<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Notifiers</title>
	<link rel="stylesheet" href="../build/styles.min.css"/>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="../build/app.min.js"></script>
	<script>
		angular.element(document).ready(function() {
 			angular.bootstrap(document, ['suave-ui', 'demo-notifier']);
		});

		angular.module('demo-notifier', ['suave-ui']).controller('DemoNotifierCtrl', function($scope, suNotifier) {
			$scope.notify = function(text, config) {
				var notifierId = suNotifier.push(text, config);
				console.log('Notifier ' + notifierId + ' called');
			}
		});
	</script>
</head>
<body ng-controller="DemoNotifierCtrl">

<div class="wrapper">

	<div class="row">
		<div class="box">
			<h1>Notifiers</h1>
		</div>
	</div>

	<div class="row">
		<div class="empty-edge-1 col-4">
			<div class="box">
				<p><strong>Notifier</strong> is a colorful stripe with text, that hangs on top part of the page. Notifier hangs on screen for <strong>5 seconds</strong>.</p>
				<p>Notifiers can have the same colors that buttons have:</p>

				<div class="c"><div class="ib">
					<div class="fl mr10"><input type="button" value="Display positive notifier" class="positive" ng-click="notify('Positive notification sample', {color: 'positive'})" /></div>
					<div class="fl mr10"><input type="button" value="Display negative notifier" class="negative" ng-click="notify('Negative notification sample', {color: 'negative'})" /></div>
					<div class="fl"><input type="button" value="Display violet notifier" class="violet" ng-click="notify('Violet notification sample', {color: 'violet'})" /></div>
				</div></div>
			</div>
		</div>
	</div>

</div>

</body>
</html>
