@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
	font-family: 'Open Sans', sans-serif;
}

.color-box {
	width: 77px;
	height: 77px;
	line-height: 77px;
	text-align: center;
}
