<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Snackbar</title>
	<link rel="stylesheet" href="../build/styles.min.css"/>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="../build/app.min.js"></script>
	<script>
		angular.element(document).ready(function() {
 			angular.bootstrap(document, ['suave-ui', 'demo-snackbar']);
		});

		angular.module('demo-snackbar', ['suave-ui']).controller('DemoSnackbarCtrl', function($scope, suSnackbar) {
			$scope.notify = function(text, config) {
				var snackbarId = suSnackbar.push(text, config);
				console.log('Snackbar ' + snackbarId + ' called');
			}
		});
	</script>
</head>
<body ng-controller="DemoSnackbarCtrl">

<div class="wrapper">

	<div class="row">
		<div class="box">
			<h1>Snackbar</h1>
		</div>
	</div>

	<div class="row">
		<div class="empty-edge-1 col-4">
			<div class="box">
				<p><strong>Snackbar</strong> is a colorful stripe with text that hangs on top part of the page by default. Snackbar hangs on screen for <strong>5 seconds</strong>, but it's default value that could be changed too.</p>
				<p>Snackbars can have the same colors that buttons have:</p>

				<div class="c"><div class="ib">
					<div class="fl mr10"><input type="button" value="Show positive snackbar" class="positive" ng-click="notify('Positive snackbar sample', {color: 'positive'})" /></div>
					<div class="fl mr10"><input type="button" value="Show negative snackbar" class="negative" ng-click="notify('Negative snackbar sample', {color: 'negative'})" /></div>
					<div class="fl"><input type="button" value="Show violet snackbar" class="violet" ng-click="notify('Violet snackbar sample that hangs on 10 seconds', {color: 'violet', timeout: 10000})" /></div>
				</div></div>
			</div>
		</div>
	</div>

</div>

</body>
</html>
