/**
* Abbreviations
*/

.fl {
	float: left;
}

.fr {
	float: right;
}

.ib {
	display: inline-block;
}

.c {
	text-align: center;
}

.r {
	text-align: right;
}

.l {
	text-align: left;
}

.dn {
	display: none;
}

.clear-fix {
	clear: both;
}
