BODY {
	font: 16px "Proxima Nova", sans-serif;
	background: #fff;
	color: #333;
	padding-top: 18px;
}

H1, H2, H3, H4, H5, STRONG {
	font-family: "Proxima Nova Bold", sans-serif;
	font-weight: bold;
	letter-spacing: -0.03em;
}

H1, H2, H3, H4, H5, P {
	margin: 0 0 18px;
}

H1 {
	padding-bottom: 10px;
	border-bottom: 4px solid;
}

HR {
	border: none;
	border-top: 1px solid #ddd;
	margin: 18px 0;

	&.big {
		border-top: 4px solid;
	}
}



.small {
	font-size: 14px;
	line-height: 20px;
}
