/**
* Basic elements
*/

BODY {
	font: 16px "Proxima Nova", sans-serif;
	background: $body-back;
	color: $text-def;
	margin: 0;
	padding: 0;
	padding-top: 18px;
}

H1, H2, H3, H4, H5, STRONG {
	font-family: "Proxima Nova Bold", sans-serif;
	font-weight: bold;
	letter-spacing: -0.03em;
}

H1, H2, H3, H4, H5, P {
	margin: 0 0 18px;
}

H1 {
	padding-bottom: 10px;
	border-bottom: 4px solid;
	font-size: 30px;
}

H2 {
	font-size: 22px;
}

H3 {
	font-size: 18px;
}



/**
* Secondary elements
*/

HR {
	border: none;
	border-top: 1px solid $ruler-def;
	margin: 18px 0;

	&.big {
		border-top: 4px solid;
	}

	&.dark {
		border-color: $ruler-dark;
	}
}



/**
* Shortcuts
*/

.clear-fix {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}



/**
* Spacers
*/

@each $space in (0, 5, 10, 20, 30, 40, 50, 60) {
	.m#{$space} {
		margin-bottom: #{$space}px !important;
	}

	.mt#{$space} {
		margin-top: #{$space}px !important;
	}

	.ml#{$space} {
		margin-left: #{$space}px !important;
	}

	.mr#{$space} {
		margin-right: #{$space}px !important;
	}
}



/**
* Text
*/

P.small {
	font-size: 14px;
	line-height: 20px;
}
