/**
* Basic elements
*/

BODY {
  font: 16px sans-serif;
  background: $body-back;
  color: $text-def;
  margin: 0;
  padding: 0;
  padding-top: 18px;

  &.no-scroll {
    overflow: hidden;
  }
}

A {
  color: $c12;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

H1, H2, H3, H4, H5, STRONG {
  font-weight: bold;
}

H1, H2, H3, H4, H5, P, TABLE, PRE {
  margin: 0 0 18px;
}

H1 {
  font-size: 30px;
}

H2 {
  font-size: 22px;
}

H3 {
  font-size: 18px;
}

H4 {
  font-size: 16px;
}

&.su-big {
  font-size: 18px;
}

&.su-small {
  font-size: 13px;
}



/**
* Features
*/

HR {
  clear: both;
  border: none;
  border-top: 1px solid $ruler-def;
  margin: 25px 0;

  &.su-big {
    border-top: 4px solid;
  }

  &.su-dark {
    border-color: $ruler-dark;
  }
}

UL {
  &.su-dash {
    list-style: none;
    margin: 0 0 18px;
    padding: 0;

    UL {
      margin-left: 25px;
    }

    LI {
      margin-left: 25px;

      &:before {
        position: absolute;
        z-index: 0;
        content: '\2014';
        margin-left: -25px;
      }
    }
  }
}
