/**
* Abbreviations
*/

.su-fl {
  float: left;
}

.su-fr {
  float: right;
}

.su-ib {
  display: inline-block;
}

.su-c {
  text-align: center;
}

.su-r {
  text-align: right;
}

.su-l {
  text-align: left;
}

.su-dn {
  display: none;
}

.su-clear {
  clear: both;
}



/**
* Spacers
*/

@each $space in (0, 5, 8, 10, 15, 18, 20, 30, 40, 50, 60, 70, 80, 90, 100) {
  .su-m#{$space} {
    margin-bottom: #{$space}px !important;
  }

  .su-mt#{$space} {
    margin-top: #{$space}px !important;
  }

  .su-ml#{$space} {
    margin-left: #{$space}px !important;
  }

  .su-mr#{$space} {
    margin-right: #{$space}px !important;
  }

  .su-p#{$space} {
    padding-bottom: #{$space}px !important;
  }

  .su-pt#{$space} {
    padding-top: #{$space}px !important;
  }

  .su-pl#{$space} {
    padding-left: #{$space}px !important;
  }

  .su-pr#{$space} {
    padding-right: #{$space}px !important;
  }
}



