.su-frame {
  border: 1px solid $c6;
  border-radius: 5px;
  box-shadow: 0 2px 3px transparentize($c5, .1);

  padding: 20px 30px;
  margin: 0 0 18px;

  @each $item in $interact {
    $this: unquote(nth($item, 1));
    $color: mix(nth($item, 2), nth($item, 3));

    &.su-#{$this} {
      box-shadow: inset 4px 0 0 0 $color, 0 2px 3px transparentize($c5, .1);
    }
  }

  & > :first-child {
    margin-top: 0;
    padding-top: 0;

    *:last-child {
      margin-bottom: 0;
    }
  }

  & > :last-child {
    margin-bottom: 0;

    *:last-child {
      margin-bottom: 0;
    }
  }
}
