/**
* Grid
*/

.su-wrapper {
  clear: both;
  margin: 0 auto;
  max-width: 1150px;
  min-width: 929px;
  padding: 0 30px 30px;
}

.su-row {
  clear: both;
  display: block;
  margin: 0 auto;
}

.su-col-1, .su-col-2, .su-col-3, .su-col-4, .su-col-5,
.su-col-edge-1, .su-col-edge-2, .su-col-edge-3, .su-col-edge-4, .su-col-edge-5 {
  display: inline;
  float: left;
}

.su-col-1 {
  width: 16%;
}

.su-col-edge-1 {
  width: 18%;
}

.su-col-2 {
  width: 32%;
}

.su-col-edge-2 {
  width: 34%;
}

.su-col-3 {
  width: 48%;
}

.su-col-edge-3 {
  width: 50%;
}

.su-col-4 {
  width: 64%;
}

.su-col-edge-4 {
  width: 66%;
}

.su-col-5 {
  width: 82%;
}

.su-col-edge-5 {
  width: 84%;
}

.su-col-6 {
  width: 100%;
}

.su-empty-1 {
  padding-left: 16%;
}

.su-empty-edge-1 {
  padding-left: 18%;
}

.su-empty-2 {
  padding-left: 32%;
}

.su-empty-edge-2 {
  padding-left: 34%;
}

.su-empty-3 {
  padding-left: 48%;
}

.su-empty-edge-3 {
  padding-left: 50%;
}

.su-empty-4 {
  padding-left: 64%;
}

.su-empty-edge-4 {
  padding-left: 66%;
}

.su-empty-5 {
  padding-left: 82%;
}

.su-empty-edge-5 {
  padding-left: 84%;
}

.su-box {
  margin: 0 5px;
  padding: 0 15px;
}



/**
* Guidelines
*/

#su-gridguide {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  DIV {
    height: 100%;
  }

  .su-wrap {
    max-width: 1150px;
    min-width: 929px;
    margin: 0 auto;
    padding: 0 30px 30px;
    position: relative;
  }

  .su-box {
    background: #717171;
    opacity: .25;
  }

  .su-inner {
    background: #EFEFEF;
    opacity: .5;
    width: 100%;
  }

  .su-left-edge,
  .su-right-edge {
    position: absolute;
    background: #717171;
    width: 35px;
    opacity: .25;
  }

  .su-left-edge {
    left: 0;
  }

  .su-right-edge {
    right: 0;
  }
}
