.su-snackbars {
  position: fixed;
  left: 0;
  width: 100%;

  &#su-snackbars {
    height: 0;
    top: 0;
  }

  &#su-snackbars-bottom {
    bottom: 0;
  }

  .su-snackbar {
    position: relative;

    margin: 5px 0;
    line-height: 34px;
    max-height: 34px;
    box-shadow: 0 0 5px transparentize($c0, .7);

    @include animation-prop(duration, .2s);
    @include transition(max-height .2s);

    .su-close {
      position: absolute;
      right: 10px;
    }

    &.su-slide-up {
      max-height: 0;
    }

    @each $color in $interact {
      $type:      nth($color, 1);
      $this-c1:   nth($color, 2);
      $this-c2:   nth($color, 3);
      $this-text: nth($color, 4);

      &.su-#{$type} {
        @include gradient-v($this-c1, $this-c2);
        color: $this-text;
        text-align: center;

        & A {
          color: $this-text;
        }
      }
    }
  }
}
