$fontsDir:    '../node_modules/typopro/web/';
$fontPrefix: 'TypoPRO-';
$fonts: (
	'Aileron',
	'Alegreya',
	'Aleo',
	'Amble',
	'AnonymousPro',
	'BebasNeue',
	'Bellota,'
	'Bitter',
	'Cabin',
	'CharisSIL',
	'Chawp',
	'ClearSans',
	'ComicNeue',
	'ComicRelief',
	'Comme',
	'Courgette',
	'CourierPrime',
	'Cousine',
	'CreteRound',
	'Crimson',
	'Cuprum',
	'Damion',
	'DancingScript',
	'DejaVu',
	'Delius',
	'Dosis',
	'Droid',
	'EBGaramond',
	'EkMukta',
	'FantasqueSansMono',
	'FiraMono',
	'FiraSans',
	'Gentium',
	'GrandHotel',
	'Graziano',
	'GreatVibes',
	'HHSamuel',
	'Journal',
	'Junction',
	'Kalam',
	'KaushanScript',
	'KingthingsPetrock',
	'KomikaHand',
	'KomikaText',
	'LatinModern',
	'Lato',
	'LearningCurve',
	'Lekton',
	'Liberation',
	'LibreBaskerville',
	'LobsterTwo',
	'Lora',
	'Merriweather',
	'Muli',
	'NautilusPompilius',
	'Neuton',
	'Noto',
	'OpenSans',
	'OstrichSans',
	'Oswald',
	'Overlock',
	'Oxygen',
	'Pacifico',
	'PatuaOne',
	'Poetsen',
	'Poly',
	'Pompiere',
	'Raleway',
	'Roboto',
	'Rosario',
	'SansitaOne',
	'Satisfy',
	'Signika',
	'SinkinSans',
	'SourceCodePro',
	'SourceSansPro',
	'SourceSerifPro',
	'TeXGyre',
	'ToBeContinued',
	'TopSecret',
	'Ubuntu',
	'Vegur',
	'VeteranTypewriter',
	'Vollkorn',
	'WeblySleek',
	'YanoneKaffeesatz',
	'Yellowtail'
);

@each $font in $fonts {
	@import url(quote($fontsDir + $fontPrefix + $font + '/' + $fontPrefix + $font + '.css'));
}
