/**
* Basic values
*/

$body-back: #fff;
$text-def:  #333;
$text-sec:  #666;



/**
* Basic color collection
*/

$c0: #000;
$c1: #fff;
$c2: #fdfdfd;
$c3: #eefcfd;
$c4: #fffdbe;
$c5: #e2e2e2;
$c6: #ccc;
$c7: #666;
$c8: #565f64;
$c9: #d69744;
$c10: #dc692a;
$c11: #d1000a;
$c12: #00a2c4;
$c13: #57a5bb;
$c14: #50808a;
$c15: #6dac00;
$c16: #8fc232;

$basic-colors: $c0, $c1, $c2, $c3, $c4, $c5, $c6, $c7, $c8, $c9, $c10, $c11, $c12, $c13, $c14, $c15, $c16;

@for $i from 0 to length($basic-colors) {
	.c#{$i} {
		color: nth($basic-colors, $i+1);
	}
}



/**
* Rulers
*/

$ruler-def:  #ddd;
$ruler-dark: #666;



/**
* Control elements colors collection
*/

$controls: (
	'default'  #fcfcfc #e7e7e7 #565f64,
	'positive' #85d800 #6eb400 #fff,
	'negative' #e30030 #af0021 #fff,
	'violet'   #989dbf #747aa4 #fff,
	'black'    #606060 #212121 #fff,
	'orange'   #fe7700 #e86300 #fff,
);
